In [2]:
import pandas as pd
from pathlib import Path

In [4]:
df = pd.read_parquet('../data/output/nyc_crashes_ready_for_analysis.parquet')

In [6]:
df.head(30)

,date,crash_time,borough,zip_code,latitude,longitude,location,on_street_name,cross_street_name,off_street_name,...,vehicle_type_code_1,vehicle_type_code_2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5,is_holiday_bool,global,states,global_across_us,is_holiday
0,2025-01-07,11:51,QUEENS,11357,40.779884,-73.803210,"(40.779884, -73.80321)",160 STREET,WILLETS POINT BOULEVARD,None,...,Sedan,None,None,None,None,False,False,None,None,False
1,2025-01-01,11:20,BROOKLYN,11213,40.666580,-73.939674,"(40.66658, -73.939674)",ALBANY AVE,CARROLL ST,None,...,None,None,None,None,None,True,False,None,True,True
2,2025-01-03,11:35,MANHATTAN,10033,40.854490,-73.934620,"(40.85449, -73.93462)",W 187 ST,BENNETT AVE,None,...,Sedan,None,None,None,None,False,False,None,None,False
3,2025-01-01,20:23,BROOKLYN,11235,40.589985,-73.955670,"(40.589985, -73.95567)",AVENUE Y,E 14 ST,None,...,Sedan,None,None,None,None,True,False,None,True,True
4,2025-01-01,21:45,STATEN ISLAND,10306,40.570465,-74.109764,"(40.570465, -74.109764)",HYLAN BLVD,NEW DORP LN,None,...,Sedan,Sedan,None,None,None,True,False,None,True,True
5,2025-01-01,9:25,None,None,40.556152,-74.210450,"(40.556152, -74.21045)",WEST SHORE EXPRESSWAY RAMP,None,None,...,Station Wagon/Sport Utility Vehicle,None,None,None,None,True,False,None,True,True
6,2025-01-02,17:39,BRONX,10459,40.818798,-73.892120,"(40.818798, -73.89212)",BRUCKNER BLVD,BARRETTO ST,None,...,Sedan,Station Wagon/Sport Utility Vehicle,None,None,None,False,False,None,None,False
7,2025-01-02,6:50,QUEENS,11368,40.740757,-73.853110,"(40.740757, -73.85311)",None,None,55-20 VAN CLEEF ST,...,Sedan,None,None,None,None,False,False,None,None,False
8,2025-01-03,7:50,BROOKLYN,11201,40.688957,-73.981415,"(40.688957, -73.981415)",None,None,540 FULTON ST,...,Station Wagon/Sport Utility Vehicle,Bike,None,None,None,False,False,None,None,False
9,2025-01-03,13:22,MANHATTAN,10010,40.733242,-73.975050,"(40.733242, -73.97505)",None,None,601 E 20 ST,...,Sedan,None,None,None,None,False,False,None,None,False
10,2025-01-01,3:00,BROOKLYN,11215,40.655827,-73.981224,"(40.655827, -73.981224)",10 AVE,19 ST,None,...,Station Wagon/Sport Utility Vehicle,Box Truck,None,None,None,True,False,None,True,True
11,2025-01-03,8:20,QUEENS,11416,40.682564,-73.851980,"(40.682564, -73.85198)",ROCKAWAY BLVD,101 AVE,None,...,Sedan,Sedan,None,None,None,False,False,None,None,False
12,2025-01-02,18:45,STATEN ISLAND,10304,40.593260,-74.110650,"(40.59326, -74.11065)",FOUR CORNERS RD,TODT HILL RD,None,...,Sedan,Taxi,None,None,None,False,False,None,None,False
13,2025-01-02,18:20,QUEENS,11375,40.721455,-73.843980,"(40.721455, -73.84398)",71 AVE,QUEENS BLVD,None,...,Sedan,None,None,None,None,False,False,None,None,False
14,2025-01-01,0:44,BRONX,10474,40.810886,-73.881660,"(40.810886, -73.88166)",OAK POINT AVE,HUNTS POINT AVE,None,...,Sedan,None,None,None,None,True,False,None,True,True
15,2025-01-01,9:21,BROOKLYN,11218,0.000000,0.000000,"(0.0, 0.0)",None,None,701 MCDONALD AVE,...,Box Truck,Station Wagon/Sport Utility Vehicle,None,None,None,True,False,None,True,True
16,2025-01-01,4:49,None,None,40.610740,-74.095830,"(40.61074, -74.09583)",STATEN ISLAND EXPRESSWAY,None,None,...,Sedan,None,None,None,None,True,False,None,True,True
17,2025-01-02,19:10,QUEENS,11354,40.764652,-73.823490,"(40.764652, -73.82349)",PARSONS BLVD,NORTHERN BLVD,None,...,Station Wagon/Sport Utility Vehicle,Sedan,None,None,None,False,False,None,None,False
18,2025-01-01,16:45,BROOKLYN,11226,40.648720,-73.964905,"(40.64872, -73.964905)",BUCKINGHAM RD,CHURCH AVE,None,...,Van,Bike,None,None,None,True,False,None,True,True
19,2025-01-02,14:00,BROOKLYN,11216,40.670900,-73.953186,"(40.6709, -73.953186)",ROGERS AVE,LINCOLN PL,None,...,Sedan,Sedan,None,None,None,False,False,None,None,False
20,2025-01-03,16:17,None,None,40.680120,-73.753235,"(40.68012, -73.753235)",MERRICK BLVD,SPRINGFIELD BLVD,None,...,Sedan,Station Wagon/Sport Utility Vehicle,None,None,None,False,False,None,None,False
21,2025-01-03,10:14,None,None,40.624220,-74.139160,"(40.62422, -74.13916)",None,None,1520 FOREST AVE,...,Box Truck,Station Wagon/Sport Utility Vehicle,None,None,None,False,False,None,None,False
22,2025-01-02,16:00,MANHATTAN,10019,40.768440,-73.989050,"(40.76844, -73.98905)",10 AVE,W 56 ST,None,...,Sedan,Sedan,None,None,None,False,False,None,None,False
23,2025-01-01,4:00,None,None,40.693787,-73.811730,"(40.693787, -73.81173)",VAN WYCK EXPWY,None,None,...,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Sedan,Sedan,None,True,False,None,True,True
24,2025-01-01,20:35,MANHATTAN,10027,40.813390,-73.956260,"(40.81339, -73.95626)",W 125 ST,AMSTERDAM AVE,None,...,Sedan,Sedan,None,None,None,True,False,None,True,True
25,2025-01-03,4:00,BROOKLYN,11213,40.669100,-73.936650,"(40.6691, -73.93665)",TROY AVE,EASTERN PKWY,None,...,Station Wagon/Sport Utility Vehicle,Sedan,Sedan,None,None,False,False,None,None,False
26,2025-01-03,16:34,BROOKLYN,11209,40.614815,-74.029400,"(40.614815, -74.0294)",FORT HAMILTON PKWY,95 ST,None,...,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,None,None,None,False,False,None,None,False
27,2025-01-01,2:40,MANHATTAN,10065,40.762490,-73.962975,"(40.76249, -73.962975)",2 AVE,E 62 ST,None,...,Station Wagon/Sport Utility Vehicle,None,None,None,None,True,False,None,True,True
28,2025-01-01,4:23,QUEENS,11101,40.746136,-73.941710,"(40.746136, -73.94171)",44 DR,THOMSON AVE,None,...,Station Wagon/Sport Utility Vehicle,Sedan,None,None,None,True,False,None,True,True
29,2025-01-02,16:15,BROOKLYN,11226,40.653576,-73.959450,"(40.653576, -73.95945)",FLATBUSH AVE,LENOX RD,None,...,Sedan,Bus,None,None,None,False,False,None,None,False